@model IEnumerable<AgioTest.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>PersonalNumber</th>
            <th>EmployeeId</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.PersonalNumber</td>
            <td>@employee.EmployeeNumber</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Employees", new { id = employee.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Employees", new { id = employee.Id }, null)
            </td>
        </tr>
    }
</table>