@model AgioTest.ViewModels.EmployeeFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add an Employee</h2>
@using (Html.BeginForm("Create", "Employees"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PersonalNumber)
        @Html.TextBoxFor(m => m.PersonalNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeNumber)
        @Html.TextBoxFor(m => m.EmployeeNumber, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}