@model AgioTest.Models.Employee
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit @Model.FirstName @Model.LastName</h1>
@using (Html.BeginForm("Edit", "Employees"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PersonalNumber)
        @Html.TextBoxFor(m => m.PersonalNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PersonalNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeNumber)
        @Html.TextBoxFor(m => m.EmployeeNumber, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}@section scripts
 {
    @Scripts.Render("~/bundles/jqueryval")
}
